defaults:
  - hydra: default
  - modelpool: clip-vit-base-patch32_TA8
  - method: dummy
  - taskpool: dummy
  - fabric: auto
  - fabric_logger: tensorboard_logger
  - _self_

fast_dev_run: false # Run a single batch of data to test the model or method
use_lightning: true # Use the fabric to run the experiment
print_config: true # Print the configuration to the console
save_report: false # path to save the result report
log_dir: null # path to save the logs, if not specified, this will be set during runtime
# Run the script without actually running the experiment, use with `print_config=true`. 
# You can also use `--cfg` or `-c` to  show the configuration instead of runing.
dry_run: false
