defaults:
  - loggers: tensorboard_logger
  - _self_
_target_: lightning.Fabric
_recursive_: true
# Number of devices to train on (``int``), which GPUs to train on (``list`` or ``str``), or ``"auto"``.
# The value applies per node.
devices: 1
# Strategy for how to run across multiple devices. Possible choices are:
# ``"dp"``, ``"ddp"``, ``"ddp_spawn"``, ``"deepspeed"``, ``"fsdp"``.
strategy: auto
# The hardware to run on. Possible choices are:
# ``"cpu"``, ``"cuda"``, ``"mps"``, ``"gpu"``, ``"tpu"``, ``"auto"``.
# for example: fabric.accelerator=cpu
accelerator: auto
